In [4]:
%matplotlib notebook
%matplotlib inline

In [8]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [17]:
city_data_to_load = os.path.join("Resources","city_data.csv")
ride_data_to_load = os.path.join("Resources","ride_data.csv")

city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [23]:
#Inspect data for missing, malformed, or incorrect data
#.count() gives total rows in each column to check for missing values, .isnull().sum() gives count of all missing rows
city_data_df.count()
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [22]:
#same for ride data
ride_data_df.count()
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [25]:
#check for numerical data in "driver_count" column of city_data_df because we will perform analysis on it
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [29]:
#how many city types are there? use .unique() function
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [35]:
#Count each city type
sum(city_data_df["type"]=="Urban")

66

In [36]:
#Count each city type
sum(city_data_df["type"]=="Suburban")

36

In [37]:
#Count each city type
sum(city_data_df["type"]=="Rural")

18

In [39]:
#Now do that for ride_data_df
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [40]:
#Great, now we can merge the dataframes for better analysis. 
#use new_df = pd.merge(leftdf, rightdf, on=["column_lefdf", "column_rightdf"])
#but if more complicated merge, use how= (options are "left", "right", "inner", "outer")
pyber_data_df = pd.merge(ride_data_df, city_data_df, on=["city", "city"], how="left")

In [41]:
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban